.vagrant/
.DS_Store
sql/
tmp
latest.tar.gz
node_modules
backupbuddy_backups/
pb_backupbuddy/
.sass-cache
style.css
style.min.css
style.css.map
script.min.js
.htaccess
npm-debug.log
wordpress/wp-content/.rev
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/cache/
wordpress/wp-content/uploads/
wordpress/wp-content/uploads/pb_backupbuddy/
wordpress/wp-content/uploads/backupbuddy_backups/
wordpress/wp-content/w3tc-config/

#Tests specific ignores
tests/_output/*
composer.lock
composer.phar
installer
vendor/*
